.toggle-panel {
    position: absolute;
    width: 50%; height: 100%;
    display: flex;
    align-items: center; justify-content: center; flex-direction: column; padding: 30px;
    text-align: center;
    top: 0;
    transform: translateX(0); transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}
.container.active .toggle-right { 
    transform: translateX(200%);
}