.toggle-container { 
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out; 
    border-radius: 150px 0 0 100px; 
    z-index: 1000;
}

.container.active .toggle-container { 
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #FF6B6B;
    height: 100%;
    background: linear-gradient(to right, #da7a7a, #FF6B6B);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}